@font-face {
    font-family: FredokaOne; /* Имя шрифта */
    src: url(fonts/FredokaOne-Regular.woff2) format('woff2'),
      url(fonts/FredokaOne-Regular.woff) format('woff'),
      url(fonts/FredokaOne-Regular.ttf) format('ttf');
    /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 30px 20px 20px;
}

table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.table_data {
    padding: 5px 7px;
    background: #e8e2e2;
    cursor: pointer;

    transition: background-color .3s linear;
}

.table_data:hover {
    background: #c2baba;
}

.table_data.current {
    background: #c2baba;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    height: 44px;
    width: 44px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;

    border: 1px solid #999;
    background: #fff;

    font-family: FredokaOne;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;

}

.square:focus {
    outline: none;
}

.square.active {
    background: #45d045;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.status {
    margin: 0 0 10px 0;
}

.status_bold {
    font-weight: bold;
    font-size: 16px;
}

.status_symbol {
    font-family: FredokaOne;
}

.btn_filter {
    width: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn_filter:focus {
    outline: none;
}

.btn_filter:hover {
    background: #e8e2e2;
}

.list_filter {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;

}

.img_filter {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .game {
        flex-direction: column;
    }

    .game-info {
        margin: 20px 0 0 0;
    }
}